

%p.commenttext
  - if !comment.user.blank?
    = comment.user.name + ":"
    = comment.content
    %br 
    - if user_signed_in?
      - if comment.user_id==current_user.id
        = link_to 'Destroy Comment', [@notebook, comment.note, comment],:confirm => 'Are you sure?',:method => :delete
        %br/ 
    = comment.created_at.strftime("%b %d, %Y")