%p
%div.paratitle{:style=>"text-align:center"} My Guided Mastery
%div.paragraph{:style=>"text-align:center"} Curate your own little section of the web and help others by sharing the resources that helped you.
%p
%br
%br
- if !user_signed_in?
	%div{:style=>"text-align:center"}
		%div= link_to "Notebooks", notebooks_path, :class => "btn btn-primary btn-large"
		%br
		%div= link_to "Sign Up", new_user_registration_path, :class => "btn btn-large"
- else
	%div{:style=>"text-align:center"}
		= link_to "Notebooks", notebooks_path, :class => "btn btn-primary btn-large"