- if user_signed_in?
	%div.paratitle 
		Make Prototypes Like this in a Matter of Weeks!

	%div.paragraph.span11 
		This guide is meant to help a non-technical founder get started quickly. Do you have an idea that you want to execute, but little to no background in software/web/mobile? This guide has all the information I've found, laid out in an organized manner, to solve the same problem for myself. Anyone can do it, and this guide will show you how. There are some very important things that I won’t cover here. I’m not trying to cover subjects that have already been covered by experts much greater than me (i.e. Steve Blank, Paul Graham, Eric Ries, etc.). Instead, I’ll briefly bring you up to speed on the subjects they already cover, and I’ll provide you with the resources that are already out there on these topics: customer development, the lean methodology, minimum viable products, and your company vision. This is all very important stuff! But I’m not the expert there yet, so I’ll help point you in the right direction.
- else 
	%div{:style=>"text-align:center"}
		%div{:style=>"text-align:center", :class=>"paragraph"}
			Sign in to get access to this guide.
		%div
			= link_to "Sign in", new_user_session_path, :class => "btn btn-primary btn-large"